<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Dice Roller</title>
        <meta name="viewport" content="width=device-width">
        <meta name"author" content="Liam Woodward">

        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:b,i,400|Fira+Mono:b,i,400&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="pure-g">
            <div id="container" class="pure-u-1">
                <h1>Dice Roller</h1>
                <p>
                <b><u>Syntax:</u></b> {#x}{#}d{#}{*//#}{+/-#}{s#}<br><br>
                [Number of rolls, number of dice, number of sides,
                multiplier, modifier, number of dice to drop.]
                </p>
                <p>
                    <label>
                        <input id="input" type="text" placeholder="3x1d20*4+1s2">
                        <button class="pure-button" id="roll">Roll</button>
                    </label>
                </p>
            </div>
        </div>
        <script src="/main.js"></script>
    </body>
</html>
